@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "settings.less";

@flex-space: {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@flex-center: {
  display: flex;
  align-items: center;
  justify-content: center;
}

@grid: {
  display: grid;
  gap: 10px;
}

@modal: {
  z-index: 1;
  position: fixed; 
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  color: @color[text];
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

body {
  @grid();
  width: 100vw;
  height: auto;
  grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer"
  ;
  background-color: @color[background];
  color: @color[text];
}

header {
  grid-area: header;
  height: @height[header];
  background-color: @color[container];
  padding: @padding[header];
  @flex-space();
}

nav a {
  margin: @margin[nav-link];
}

main {
  @grid();
  grid-area: main;
  justify-self: center;
  width: @width[main];
  height: auto;
  grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d e"
  ;
}

footer {
  grid-area: footer;
  height: @height[footer];
  background-color: @color[container];
  @flex-center();
}

main > * {
  background-color: @color[container];
  border-radius: @radius[smooth];
}

main :nth-child(1) { grid-area: a }
main :nth-child(2) { grid-area: b }
main :nth-child(3) { grid-area: c }
main :nth-child(4) { grid-area: d }
main :nth-child(5) { grid-area: e }

h1 {
  font-size: 18px;
}

#loading {
  @modal();
  @flex-center();
  background-color: @color[background];
  display: none;
}