#main-page {
  width: 100%;
  min-height: 100%;
  @media @desktop, @min-desktop {
    grid-template-areas: 
      "a a a"
      ". b ."
      "c c c"
    ;
  }
  @media @tablet, @mobile {
    grid-template-areas: "a" "b" "c";
  };

  gap: 10px;

  > header { 
    grid-area: a;
    height: 75px;
    padding: 0 20px;
  };

  > main { 
    justify-self: center;
    grid-area: b; 
    width: 80vw;
  };

  > footer { 
    grid-area: c; 
    height: 75px;
  };

  h1 {
    font-size: 18px;
    font-weight: 600;
  }

  nav > a {
    margin: 0 20px;
  }
}

#main-page #main-container {
  @media @desktop, @min-desktop {
    grid-template-areas: 
      "a a"
      "b b"
      "c c"
      "d e"
    ;
  };
  @media @tablet, @mobile {
    grid-template-areas: "a" "b" "c" "d" "e";
  };

  gap: 10px;
  
  > section {
    padding: 40px;
  }

  > :nth-child(1) { 
    grid-area: a;
  };

  > :nth-child(2) { 
    grid-area: b; 
  };

  > :nth-child(3) { 
    grid-area: c;
  };

  > :nth-child(4) { 
    grid-area: d; 
  };

  > :nth-child(5) { 
    grid-area: e;
  };
}