<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Facebook Data Analyzer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>

      :root {
        --main-bg-color: #282A2E;
        --secondary-bg-color: #202225;
        --main-color: #FFF;
        --secondary-color: #3377bf;
      }
      
      body {
        background-color: var(--main-bg-color);
        color: var(--main-color);
      }

      a {
        text-decoration: none;
        color: var(--secondary-color);
      }

      .card {
        border: none;
        border-radius: 8px;
        padding: 30px;
        background-color: var(--secondary-bg-color);
        color: var(--main-color);
      }

      .table {
        border: none;
        color: var(--main-color);
      }
      
      .highlights {
        font-weight: bold;
        color: var(--secondary-color);
      }

      .shade-1 {
        filter: brightness(100%);;
      }

      .shade-2 {
        filter: brightness(85%);
      }

      .shade-3 {
        filter: brightness(70%);
      }
    </style>
  </head>
  <body class="container d-grid gap-2" style="padding: 10px 10px 30px 10px;">


    <div class="row card text-center">
      <h3><strong><%= client.name %></strong></h3>
      <small>Account created on <%= client.registeredDate %></small>
    </div>


    <div class="row gap-2">

      <!--
        Messages Encountered
        Messages Received
        Messages Sent
        Words Sent
      -->
      <div class="col d-grid gap-2">
        <div class="row card d-grid">
          <div class="row-4"><p id="messagesEncountered"></p></div>
          <div class="row-4"><p id="messagesReceived"></p></div>
          <div class="row-4"><p id="messagesSent"></p></div>
          <div class="row-4"><p id="wordsSent"></p></div>
        </div>
        <div class="row card d-grid">
          <h4><strong>About This Project</strong></h4>
          <p>
            Facebook Data Analyzer is an <a href="https://github.com/ming-suhi/facebook-data-analyzer" target="_blank">open source project</a> 
            started with 💙 by <a href="https://github.com/ming-suhi" target="_blank">ming-suhi</a>.
          </p>
        </div>
      </div>

      <!-- Years Ranked -->
      <div class="col-8 card">
        <canvas id="yearsRankedChart"></canvas>
      </div>
      
    </div>


    <div class="row card">

      <!-- Favorite Hours -->
      <canvas id="favoriteHoursChart"></canvas>
    </div>


    <div class="row gap-2">

      <!-- Favorite Channels -->
      <div class="col p-5 card">
        <table class="table table-borderless" id="rankedByMessages">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Channel</th>
              <th scope="col">Your Messages Count</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <!-- Word Occurences -->
      <div class="col p-5 card">
        <table class="table table-borderless" id="rankedByOccurences">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Word</th>
              <th scope="col">Occurences</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>

  </body>

  <!-- Scripts -->
  <script src="scripts/utilities.js"></script>
  <script src="scripts/index.js"></script>
</html>